/* General Formatting */

body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  margin: 0px;
  color: #777777;
}

header {
  width: 100%;
  border-bottom: 2px solid #cccccc;
}

footer {
  text-align: center;
  color: white;
  background-color: #666666;
  margin: 0px 0px 0px 0px;
  padding: 13px 0px 2px 0px;
  border-top: 6px solid #4aaaa5;
}
/* NAV SECTION STYLING */

.nav-heading {
  color: #ffffff;
  background-color: #4aaaa5;
  width: 160px;
  float: left;
  padding: 31px 30px 32px 30px;
  margin: 0px 0px 0px 0px;

  font-family: "Georgia", Times, Times New Roman, serif;
}

.nav-container {
  text-align: center;
  background-color: #ffffff;
  width: 960px;
  height: 90px;
  margin: auto;
}

.nav-list-shell {
  float: right;
  margin-top: 36px;
  margin-bottom: 36px;
}

.nav-list-shell li {
  display: inline-block;
}

.nav-item {
  margin-left: 15px;
  text-decoration: none;
  color: #777777;
}

/* general body formatting */

.main-container {
  width: 100%;
  background-image: url("../images/cork-board.png");
  height: 600px;
}

.content-container {
  text-align: center;
  background-color: #ffffff;
  width: 960px;
  padding-bottom: 25px;
  margin: auto;
}

.main-content-header {
  text-align: left;
  margin: 30px 25px 15px 25px;
  padding-top: 30px;
  padding-bottom: 15px;
  color: #4aaaa5;
  border-bottom: 2px solid #cccccc;
}

p.main-item {
  text-align: left;
  line-height: 1.7;
  margin-left: 25px;
  margin-right: 25px;
}

img.main-item {
  margin: 0px 15px 0px 25px;
  float: left;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

/* Styling specific to the portfolio page */
.project-holder {
  margin: 0px 0px 18px 25px;
  position: relative;
}

.project-name {
  padding: 14px 13px 14px 12px;
  font-size: 20px;
  width: 250px;
  color: white;
  background-color: #4aaaa5;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.project-image {
}

.row {
  margin-bottom: 30px;
}

.row::after {
  clear: both;
  content: "";
  display: block;
}
[class*="col-"] {
  float: left;
  height: 270px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.67%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.33%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-1 {
  width: 8.33%;
}

/* Styling for contact page */
.main-form {
  text-align: left;
  margin: 0px 25px 0px 25px;
}

.form-input {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 13px;
  padding: 3px;
  color: #777777;
}

#submit-button {
  color: white;
  background-color: #4aaaa5;
  padding: 4px 20px 4px 20px;
}
