footer {
  text-align: center;
  border-top: 8px solid #4aaaa5;
  flex-shrink: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main-body-text {
  font-size: 20px;
}

.profession-text {
  font-size: 15px;
  line-height: 1.3;
}
